.graetcoffee__container{
  background-image: url(../../img/img/Bitmap.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}
.graetcoffee__box{
 width: 493px;
 padding: 180px 0 230px 86px;
 text-align: left; 
}
.graetcoffee__title{
  color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 72px;
font-weight: 900;
line-height: 72px;
margin-bottom: 32px;
}
.graetcoffee__texst{
  color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 56px
}
.graetcoffee__btn{
  color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 18px;
font-weight: 900;
line-height: 25px;
border-radius: 6px;
background: rgb(102, 210, 207);
padding: 15px 30px;
}





@media only screen and ( max-width:1000px){
  .graetcoffee__container{
    background-image: url(../../img/section1.jpeg);
    height: 600px;
    padding-bottom: 0;
  }
  .graetcoffee__box{
    padding: 100px 0 100px 50px;
  }
}



@media only screen and (max-width:690px){
  .graetcoffee__container{
    background-image: url(../../img/section3.jpeg);
    height: 600px;
  }
  .graetcoffee__box{
    padding: 50px 0 50px 58px;
  }
}


@media screen and(max-width:522px){
  .graetcoffee__box{
    padding: 50px 0 50px 30px;
    text-align: center;
  }
  .graetcoffee__title{
    color: rgb(254, 252, 247);
font-family: Fraunces 9pt;
font-size: 40px;
font-weight: 900;
line-height: 40px;
letter-spacing: 0px;
text-align: center;
  }
  .graetcoffee__texst{
    color: rgb(254, 252, 247);
font-family: Barlow;
font-size: 15px;
font-weight: 400;
line-height: 25px;
letter-spacing: 0px;
text-align: center;
  }
  .graetcoffee__btn{
    text-align: center;
  }
}





